body {
    background-image: url('Imgs/background.JPG'); 
    background-size: cover;
    font-family: "Playfair Display", serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.box {
    width: 80%;
    margin: auto;
    position: relative;
}
.text{
    justify-content: center;
    text-align: center;
    color: #FFD700;
    padding: 4vh;
    font-size: 4vh;
    font-family: "Playfair Display", serif;
}
.title{
    font-size: 8vh;
}
.button{
    display: flex;
    align-items: center;
    justify-content: center;
}
#red-button, #green-button, #start-button{
    padding: 3vh 6vh;
    text-align: center;
    display: inline-block;
    font-size: 3vh;
    margin: 5vh;
    cursor: pointer;
    border-radius: 2vh;
    border: solid 1vh #ffffff;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif, serif;
}
#red-button{
    background-color: #FF0000;
}
#green-button{
    background-color: #20ff20d5;
}
#start-button{
    background-color: #ffffff;
    border: solid 1vh #000000;
    color: #000000;
}
#regras{
    width: 90%;
}
#ok{
    width: 100%;
}
